body {
  margin:0px;
  background-color:rgba(242, 242, 242, 0.647058823529412);
  background-image:none;
  position:static;
  left:auto;
  width:1921px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1447px;
  height:368px;
}
#u2287 {
  position:absolute;
  left:474px;
  top:45px;
  width:1447px;
  height:368px;
}
#u2288 {
  position:absolute;
  left:2px;
  top:176px;
  width:1443px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:613px;
  height:315px;
}
#u2289 {
  position:absolute;
  left:0px;
  top:44px;
  width:613px;
  height:315px;
}
#u2290 {
  position:absolute;
  left:2px;
  top:150px;
  width:609px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2291_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:47px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2291 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:47px;
}
#u2292 {
  position:absolute;
  left:2px;
  top:16px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2293_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u2293 {
  position:absolute;
  left:245px;
  top:16px;
  width:145px;
  height:21px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u2294 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u2295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u2295 {
  position:absolute;
  left:471px;
  top:13px;
  width:22px;
  height:22px;
}
#u2296 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2297_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u2297 {
  position:absolute;
  left:494px;
  top:16px;
  width:73px;
  height:21px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u2297_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u2297.mouseOver {
}
#u2298 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u2299 {
  position:absolute;
  left:643px;
  top:9px;
  width:34px;
  height:34px;
  color:#666666;
}
#u2300 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2301_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u2301 {
  position:absolute;
  left:667px;
  top:16px;
  width:55px;
  height:21px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u2301_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u2301.mouseOver {
}
#u2302 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u2303_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u2303 {
  position:absolute;
  left:1606px;
  top:16px;
  width:82px;
  height:21px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u2303_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u2303.mouseOver {
}
#u2304 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u2305_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:80px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2305 {
  position:absolute;
  left:0px;
  top:1921px;
  width:1920px;
  height:80px;
}
#u2306 {
  position:absolute;
  left:2px;
  top:32px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2307_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2307 {
  position:absolute;
  left:245px;
  top:1956px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2308 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2309_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:23px;
}
#u2309 {
  position:absolute;
  left:337px;
  top:1956px;
  width:1px;
  height:22px;
}
#u2310 {
  position:absolute;
  left:2px;
  top:3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2311_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2311 {
  position:absolute;
  left:360px;
  top:1956px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2312 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2313_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:23px;
}
#u2313 {
  position:absolute;
  left:452px;
  top:1956px;
  width:1px;
  height:22px;
}
#u2314 {
  position:absolute;
  left:2px;
  top:3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2315_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2315 {
  position:absolute;
  left:475px;
  top:1956px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2316 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2317_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2317 {
  position:absolute;
  left:1368px;
  top:1956px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2318 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2319_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2319 {
  position:absolute;
  left:1292px;
  top:1956px;
  width:55px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2320 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u2321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:38px;
}
#u2321 {
  position:absolute;
  left:1618px;
  top:1948px;
  width:45px;
  height:37px;
}
#u2322 {
  position:absolute;
  left:2px;
  top:10px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2323_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2323 {
  position:absolute;
  left:1520px;
  top:1956px;
  width:56px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2324 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u2325_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2325 {
  position:absolute;
  left:1621px;
  top:1957px;
  width:39px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2326 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u2327_img {
  position:absolute;
  left:-12px;
  top:0px;
  width:153px;
  height:172px;
}
#u2327 {
  position:absolute;
  left:625px;
  top:38px;
  width:141px;
  height:158px;
}
#u2328 {
  position:absolute;
  left:2px;
  top:71px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2329_div {
  position:absolute;
  left:0px;
  top:0px;
  width:577px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  color:#FF0000;
}
#u2329 {
  position:absolute;
  left:667px;
  top:174px;
  width:577px;
  height:82px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  color:#FF0000;
}
#u2330 {
  position:absolute;
  left:0px;
  top:0px;
  width:577px;
  white-space:nowrap;
}
#u2331_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1528px;
  height:1617px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2331 {
  position:absolute;
  left:192px;
  top:304px;
  width:1528px;
  height:1617px;
}
#u2332 {
  position:absolute;
  left:2px;
  top:800px;
  width:1524px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2333 {
  position:absolute;
  left:395px;
  top:359px;
  width:1053px;
  height:413px;
  overflow:hidden;
}
#u2333_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1053px;
  height:413px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2333_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2334_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1089px;
  height:411px;
}
#u2334 {
  position:absolute;
  left:0px;
  top:0px;
  width:1089px;
  height:411px;
}
#u2335 {
  position:absolute;
  left:2px;
  top:198px;
  width:1085px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2333_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1053px;
  height:413px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2333_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2336_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1051px;
  height:396px;
}
#u2336 {
  position:absolute;
  left:0px;
  top:0px;
  width:1051px;
  height:396px;
}
#u2337 {
  position:absolute;
  left:2px;
  top:190px;
  width:1047px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2333_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:1053px;
  height:413px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2333_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2338_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1067px;
  height:401px;
}
#u2338 {
  position:absolute;
  left:0px;
  top:0px;
  width:1067px;
  height:401px;
}
#u2339 {
  position:absolute;
  left:2px;
  top:192px;
  width:1063px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2340 {
  position:absolute;
  left:1181px;
  top:723px;
  width:15px;
  height:15px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2341 {
  position:absolute;
  left:1203px;
  top:723px;
  width:15px;
  height:15px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2342 {
  position:absolute;
  left:1225px;
  top:723px;
  width:15px;
  height:15px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2343_img {
  position:absolute;
  left:0px;
  top:0px;
  width:915px;
  height:799px;
}
#u2343 {
  position:absolute;
  left:245px;
  top:837px;
  width:915px;
  height:799px;
}
#u2344 {
  position:absolute;
  left:2px;
  top:392px;
  width:911px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2345_img {
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  height:1084px;
}
#u2345 {
  position:absolute;
  left:1244px;
  top:833px;
  width:406px;
  height:1084px;
}
#u2346 {
  position:absolute;
  left:2px;
  top:534px;
  width:402px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2347 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2348_img {
  position:absolute;
  left:0px;
  top:0px;
  width:623px;
  height:241px;
}
#u2348 {
  position:absolute;
  left:245px;
  top:1656px;
  width:623px;
  height:241px;
}
#u2349 {
  position:absolute;
  left:2px;
  top:112px;
  width:619px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2350_img {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:110px;
}
#u2350 {
  position:absolute;
  left:857px;
  top:1656px;
  width:303px;
  height:110px;
}
#u2351 {
  position:absolute;
  left:2px;
  top:47px;
  width:299px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2352_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:131px;
}
#u2352 {
  position:absolute;
  left:852px;
  top:1766px;
  width:308px;
  height:131px;
}
#u2353 {
  position:absolute;
  left:2px;
  top:58px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
